*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: flex;
  justify-content: right;
  gap: 2rem;
  padding-top: 2rem;
  padding-right: 5rem;

}
nav a{
    color:white;
    font-weight: bold;
    text-decoration: none;
}

.head{
    margin-left: 5rem;
    margin-top: 7rem;

}
.head0{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.head1{
    color: rgba(252, 214, 1, 0.918);
    font-weight: bold;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.head p{
    padding-top: 1rem;
    font-size: larger;
    
}
.btn{
    margin-top: 3rem;
    height: 2.5rem;
    width: 10rem;
    margin-left: 10rem;
    background-color: rgba(250, 215, 19, 0.918);
    border: none;
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.button1{
    margin-top: 4rem;
    margin-left:7rem;
}
.button1 button{
    height: 3rem;
    width: 10rem;
    border: none;
    background-color:plum;
}
button:hover{
    background-color: rgba(245, 102, 162, 0.747);
    cursor: pointer;
}


.btn2{
    margin-right:-3.2px ;
    margin-left: -4.4px;
}

.btn1{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.btn3{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
img{
    float:right;
    height: 450px;
    margin-top: -25rem;
    margin-right:8rem ;
    width:450px;
    

}
.maindiv {
    color: white;
    min-height: 100vh;
    background-color:rgba(38, 1, 87, 0.836);

}


    img:hover{box-shadow: 20px 20px rgba(253, 224, 107, 0.562);
            cursor: pointer; 

}
